@{
    ViewData["Title"] = "首頁";
}

<div>
    <center>
        <br />
        <br />
        <br />
        <img class="img" src="https://i.imgur.com/PpVjPct.png" width="250" height="250">
        <style>
            .img {
                border-radius: 30px
            }
        </style>
        <br />
        <br />
        <img src="https://i.imgur.com/46NoNaO.jpg" width="400" height="100">
        <br />
        <br />
        <br />
        <span style="font-size:xx-large;">護理長值班日誌</span>
        <br />
        <br />
        <br />
    </center>
</div>