@model N.Models.Memo

@{
    ViewData["Title"] = "詳細資料";
}

<h2>詳細資料</h2>

<div>
    <h4>Memo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">返回列表</a>
</div>
